<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<section class="container">
  <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:18%">

    <p id='ty'>Thank you for entering your party information.</p>

    <ul>
      <li style="list-style-type: none;" id='pn'>Party Name: <%- partyName %></li>
      <li style="list-style-type: none;" id='ppn'>Party Playlist Name: <%- partyPlaylistName %></li>
      <li style="list-style-type: none;" id='pd'>Party Date: <%- partyDate %></li>
    </ul>

    <h4>Go to your Spotify account to see your newly created (but empty!) playlist.</h4>

    <h4>Don't worry it will fill up as soon as your friends turn up to your party.</h4>

    <h4>Pass on this link to your friends so they can choose tracks for the playlist</h4>

    <a href="<%- getSongsLink %>"><%- getSongsLink %></a>
  </section>
</section>


</body>
