<body>

  <p>Thank you for registering your party information.</p>

  <ul>
    <li>Party Name: <%- partyName %></li>
    <li>Party Date: <%- partyDate %></li>
    <li>Party Playlist Name: <%- partyPlaylistName %></li>
  </ul>

  <p>Go to your Spotify account to see your newly created (but empty!) playlist.</p>

  <p>Don't worry it will fill up as soon as your friends turn up to your party.</p>

  <p>Pass on this link to your friends so they can choose tracks for the playlist</p>

  <a href="<%- getSongsLink %>"><%- getSongsLink %></a>

</body>
