<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<section class="container">
  <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:18%">
Thank you for entering your party information.

  <ul>
    <li>Party Name: <%- partyName %></li>
    <li>Party Date: <%- partyDate %></li>
    <li>Party Playlist Name: <%- partyPlaylistName %></li>
  </ul>

  <p>Pass on this link in your invites to allow your friends to choose songs for the playlist</p>

  <a href="<%- getSongsLink %>"><%- getSongsLink %></a>
  </section>
  </section>

</body>
